version: 2
jobs:
  build:
    working_directory: ~/randmockery
    docker:
      - image: jimmycuadra/rust:latest
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build randmockery
          command: |
            cargo build
      - run:
          name: Run tests
          command: |
            cargo test
            # If there's a problem with a test using forks/threads, it may
            # not fail at the first time. Run these tests 10 times
            for _ in {0..9} cargo test --test
